.overview-tab{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.indicators{
    display: flex;
    gap: 2%;
    height: 20%;
    width: 100%;

}
.lower-info {
    display: flex;
    gap: 2%;
    height: 70%;
}

.performance-graph,
.recent-orders {
    flex: 1;
    min-width: 40%;
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 10px;
}
.performance-graph{
    align-content: center;
    justify-content: center;
}

/* ensure orders still takes space when empty */
.recent-orders {
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}
.recent-orders > h1{
    margin-left: 1%;
}

.recent-orders h1 {
    margin-bottom: 10px;
}

.recent-orders hr {
    margin-bottom: 10px;
}