.order {
  margin: 0 7%;
  width: 100%;
  background-color: white;
}

.order > a {
  padding: 1% 5%;
}

.order-info {
  display: flex;
  flex-direction: column;
}

.order:hover {
  background-color: hsl(0, 0%, 75%);
}
