.product {
  margin: 0 7%;
  width: 100%;
  background-color: white;
}

.product > a {
  padding: 1% 5%;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product:hover {
  background-color: hsl(0, 0%, 75%);
}
