.card-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 7%;
  gap: 2vh;
}

.upper-card-wrapper,
.lower-card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  gap: 1rem;
  /* flex-direction: row;
    align-items: center; */
}
.lower-card-wrapper {
  position: relative;
}
.more-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.5%; /* Adjust as needed to fit the space */
  background-color: #f0f0f0; /* Light background for "More" tab */
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #333; /* Text color */
  padding: 10px;
  gap: 5px; /* Spacing between text and arrow */
  transition: transform 0.3s, background-color 0.3s;
}

.more-tab:hover {
  background-color: #ddd;
  transform: scale(1.05); /* Slight scale effect */
}

.more-tab a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 5px; /* Space between "More" and the arrow */
}

.more-tab a:hover {
  text-decoration: underline; /* Adds underline on hover */
}
