.cart-button {
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  opacity: 1; /* always visible */
  transition: transform 0.2s ease-in-out, background-color 0.2s linear; /* smooth hover */
}

.cart-icon {
  width: 24px;
  height: 24px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-amount {
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: -5px;
  right: -5px;
  font-size: 0.75rem;
  z-index: 10;
  pointer-events: none;
}

.cart-button:hover {
  transform: scale(1.1);
  background-color: blue;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: -600px;
  width: 450px;
  height: 100%;
  background-color: midnightblue;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 100;
  overflow-y: auto;
  color: white;
}

.cart-sidebar.open {
  right: 0;
}

.close-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart-item-ulist {
  padding: 0;
  list-style: none;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  gap: 15px;
}

.cart-item-list {
  background: white;
  color: black;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  flex-direction: column; 
  align-items: center;
}

.product-item-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.count-setter {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 4px;
}

.count-setter:hover {
  background: #45a049;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.remove-btn:hover {
  background: darkred;
}

.quantity-controllers{
  display: flex;
  width: 100%;
}
